.*
!.gitignore
Data
Resources/php.ini
Settings/backup.4DSettings
userPreferences.*
Project/DerivedData/CompiledCode
Project/DerivedData
Preferences
Settings/4DPop
Libraries/lib4d-arm64.dylib
Project/Sources/dependencies.json
